html {
  font-family: "Times New Roman", Times, serif;
}

body {
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1rem;
  margin-bottom: 20px;
}

article {
  max-width: 620px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Arial, sans-serif;
  margin-bottom: 16px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.5em;
}

.byline, figcaption {
  font-family: Arial, sans-serif;
  font-size: 1.7em;
}

span {
  font-style: italic;
}

figcaption {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  text-align: right;
  margin-top: 5px;
}

blockquote {
  border-left: 4px solid grey;
  padding: 0 20px;
  margin-left: 30px;
}

ol {
  list-style-position: inside;
}

#comment-notes {
  background-color: #CCC;
  padding: 12px;
}





